# {{name}}

[![version](https://img.shields.io/npm/v/{{name}}.svg?style=flat-square)](https://www.npmjs.com/package/{{name}})
[![downloads](https://img.shields.io/npm/dm/{{name}}.svg?style=flat-square)](https://www.npmjs.com/package/{{name}})
[![license](https://img.shields.io/npm/l/{{name}}.svg)](https://www.npmjs.com/package/{{name}})
[![dependencies](https://img.shields.io/david/{{repository.user}}/{{repository.name}}.svg?style=flat-square)](https://www.npmjs.com/package/{{name}})
