{
  "compilerOptions": {
    "outDir": "./lib",
    "moduleResolution": "node",
    "module": "commonjs",
    "target": "ESNext",
    "strict": true,
    "noImplicitAny": false,
    "declaration": true,
    "esModuleInterop": true,
    "resolveJsonModule": {{addition.resolveJsonModule}},
    "baseUrl": "./",
    "noEmitOnError": true,
    "paths": {
      "@/*": ["src/*"],
      "@root/*": ["./*"]
    },
    "plugins": [{ "transform": "typescript-transform-paths" }]
  },
  "exclude": ["node_modules"],
  "files": ["index.ts"],
  "include": ["src/**/*.ts"]
}
